<?xml version="1.0" encoding="utf-8"?>
<config>
    <params>
        <param name="@spacer" type="spacer" default="" label="" description="" />
        <param name="raw_message_send_count" type="text" default="3" label="User count for raw messages" description="The number of users who will get raw messages" size="4" />
        <param name="processed_message_send_count" type="text" default="3" label="User count for processed messages" description="The number of users who will get processed messages" size="4" />
        <param name="@spacer" type="spacer" default="" label="" description="" />
        <param name="statistics_period" type="text" default="20" label="Statistics Period" description="Statistics period in days" size="4" />
        <param name="statistics_period_compare" type="text" default="5" label="Compare Period" description="Statistics compare period in days" size="4" />
        <param name="delayed_resolution_period" type="text" default="30" label="Delayed Resolution Period" description="Number of days for delayed resolution" size="4" />
        <param name="@spacer" type="spacer" default="" label="" description="" />
        <param name="raw_complaint_warning_period" type="text" default="2" label="Raw Complaint Warning Period" description="Show a warning message if a raw complaint was not processed in N days" size="4" />
        <param name="processed_complaint_warning_period" type="text" default="4" label="Processed Complaint Warning Period" description="Show a warning message if a processed complaint was not resolved in N days" size="4" />
        <param name="@spacer" type="spacer" default="" label="" description="" />
        <param name="map_api_key" type="text" default="" label="Map API key" description="Google Maps API key, you can get one from: http://code.google.com/apis/maps/signup.html" size="20" />
        <param name="center_map" type="text" default="40.313043,44.736328" label="Map center point" description="Complaints map center point (lat,lng)" size="20" />
        <param name="zoom_level" type="text" default="6" label="Map zoom level" description="Google Maps zoom level" size="4" />
    </params>
</config>