<?xml version="1.0" encoding="utf-8"?>
<config>
    <params>
        <param name="complaints_email" type="text" default="complaints@localhost" label="Complaints Email" description="" size="20" />
        <param name="@spacer" type="spacer" default="" label="" description="" />
        <param name="statistics_period" type="text" default="20" label="Statistics Period" description="Statistics period in days" size="4" />
        <!--param name="statistics_period_compare" type="text" default="5" label="Compare Period" description="Statistics compare period in days" size="4" /-->
        <param name="@spacer" type="spacer" default="" label="" description="" />
        <param name="low_priority_description" type="text" default="Issues which are not critical to the successful completion of the project." label="Low Priority Description" description="" size="50" />
        <param name="action_period_low" type="text" default="30" label="Action Period" description="Expected number of days to solve low priority complaints" size="4" />
        <param name="medium_priority_description" type="text" default="Issues which could potentially cause cost increases or time delays on a significant component of the project; and/or be in conflict with law." label="Medium Priority Description" description="" size="50" />
        <param name="action_period_medium" type="text" default="10" label="Action Period" description="Expected number of days to solve medium priority complaints" size="4" />
        <param name="high_priority_description" type="text" default="Issues which potentially affect Safety at the project site, or which can cause significant Environmental Damage." label="High Priority Description" description="" size="50" />
        <param name="action_period_high" type="text" default="5" label="Action Period" description="Expected number of days to solve high priority complaints" size="4" />
        <param name="@spacer" type="spacer" default="" label="" description="" />
        <param name="raw_complaint_warning_period" type="text" default="2" label="Raw Complaint Warning Period" description="Show a warning message if a raw complaint was not processed after N days" size="4" />
        <param name="delayed_confirmation_warning_period" type="text" default="2" label="Delayed Confirmation Warning Period" description="Show a warning message if a resolved complaint was not confirmed and closed after N days" size="4" />
        <param name="@spacer" type="spacer" default="" label="" description="" />
        <param name="map_api_key" type="text" default="" label="Map API key" description="Google Maps API key, you can get one from: http://code.google.com/apis/maps/signup.html" size="20" />
        <param name="center_map" type="text" default="40.313043,44.736328" label="Map center point" description="Complaints map center point (lat,lng)" size="20" />
        <param name="zoom_level" type="text" default="6" label="Map zoom level" description="Google Maps zoom level" size="4" />
        <param name="@spacer" type="spacer" default="" label="" description="" />
        <param name="sms_acknowledgment" type="radio" default="0" label="SMS Acknowledgment" description="The complainer will receive SMS acknowledgment message after the complaint is received">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </param>
        <param name="email_acknowledgment" type="radio" default="0" label="Email Acknowledgment" description="The complainer will receive Email acknowledgment message after the complaint is received">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </param>
        <param name="acknowledgment_text" type="text" default="Thank you, your complaint #%s is received. You will get further details soon." label="Acknowledgment text" description="The formatted text to be used" size="50" />
    </params>
</config>